<% layout('layouts/boilerplate') -%>
<div id="cluster-map" style="width:100%; height: 500px;">

</div>
<h1 class="text-center mt-3">All Campgrounds</h1>
<div class="row justify-content-center mb-3">
    <a class="btn btn-success" href="campgrounds/new">Add Campground</a>
</div>

<% for (let camp of campgrounds){ %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(camp.images.length){%> 
            <img class="img-fluid" alt="" src="<%= camp.images[0].url %>">
            <% }else {%>
                <img class="img-fluid" alt="" src="https://res.cloudinary.com/dfy12rpmk/image/upload/v1608230522/HappyCamper/ze8aexd7vwboagxrmcrg.jpg">
            <% } %> 
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
                <p class=card-text><small class="text-muted"><%= camp.location %> <%= camp.price %></small></p>
                <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">View <%= camp.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>


<script>
    const mapToken='<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
<script src="/js/niceScroll.js"></script>